<div class="jumbotron text-center">
    <h1><span class="fa fa-hand-paper-o"></span>helpMeUp<span class="fa fa-clock-o"></span></h1>

    <p>Login Here:</p>
    <a href="/login" class="btn btn-default">Login</a>

</div>
