<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/css/main.css">

    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.local.email %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">User Profile</a></li>
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </li>
            <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            <% } %>

          </ul>
        </div>
      </nav>
    </header>
</head>
<body>
<div class="container">
  <% if (user) { %>
    <input type="hidden" id="user_id" value="<%= user._id %>">
  <% } %>

  <%- body %>
</div>
</body>
<script src="/js/lib/vendor.js"></script>
<script src="/js/lib/main.js"></script>

</html>
